doctype html
html(
  lang="pt-br",
  ng-app="gmedic",
  ng-controller="mainController"
)
  head
    meta(charset="utf-8")
    meta(
      name="viewport",
      content="width=device-width, initial-scale=1, user-scalable=yes, minimum-scale=1.0, maximum-scale=2.0"
    )
    base(href="/gmedic/", target="self")
    title.
      GMedic
      {{title.pageTitle != null && title.pageTitle != ''
       ? (' | '+title.pageTitle)
       : ''}}
  body(
    ng-class="menu.visible ? 'menu-visible' : 'menu-hidden'"
  )
    header(ng-controller="headerController")
      include ./components/header/headerView.pug
    menu(ng-controller="menuController")
      nav#nav
        include ./components/menu/menuView.pug
    
    main(ng-view)
